.flex-center-Overlay {
  display: flex;
  justify-content: center;
}

.LocationOverlayWrapper {
  width: calc(100% - 20px);
  max-width: 450px;
  height: auto;
  background-color: #fff;
  margin-bottom: 10px;
  align-self: center;
  justify-self: center;
  padding: 10px 10px;
  position: fixed;
  border-radius: 10px;
  z-index: 0;
  bottom: 0;
}
