:root {
  --primary-blue: #113042;
  --secondary-blue: #3790af;
  --main-white: #fff;
  --main-lightgray: #dedede;
  --main-green: rgb(42, 212, 113);
  --main-yellow: rgb(224, 209, 45);
  --main-red: rgb(233, 99, 99);
}

div a div img {
  border: none;
}

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

header {
  height: 10vh;
  width: 100%;
  background-color: var(--main-white);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.1rem;
  padding-bottom: 10px;
  padding-top: 5vh;
  box-shadow: 0px 0px 10px var(--main-lightgray);
  border-bottom: 1px solid #c1c1c1;
  z-index: 1;
}

.DetailsHeader {
  height: 10vh;
  width: 100%;
  background-color: var(--main-white);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  font-size: 1.1rem;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 5vh;
  box-shadow: 0px 0px 10px var(--main-lightgray);
  z-index: 30000;
}

.LinkDetailsBack {
  display: flex;
  align-items: center;
  gap: 10px;
  color: var(--primary-blue);
  text-decoration: none;
}

.LinkDetailsBack p {
  color: var(--primary-blue);
  text-decoration: none;
}

main {
  height: calc(100vh - 10vh - 10vh);
  width: 100%;
  z-index: 100;
  position: relative;
}

.main-details {
  height: calc(100vh - 10vh - 10vh);
  overflow: scroll;
}

.content-main {
  padding: 10px;
  overflow: scroll;
  position: relative;
}

.content-main-details {
  padding: 20px 20px 10px 20px;
}

footer {
  border-top: 1px solid #c1c1c1;
  height: 10vh;
  width: 100%;
  background-color: var(--main-white);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10vw;
  z-index: 1;
  box-shadow: 0px 0px 10px var(--main-lightgray);
}

.footer-images {
  width: 30px;
}

.footer-image-wrapper {
  padding: 10px;
  /* background-color: #113042; */
}

/* .fiw-active {
  border-bottom: 2px solid #113042;
} */

.MapWrapper {
  width: 100%;
  height: 100%;
}

#map {
  width: 100%;
  height: 100%;
}

/* .DaLuLogo {
  position: absolute;
  height: auto;
  width: 50px;
  bottom: 10px;
  left: 10px;
  z-index: 3;
} */

.gmnoprint {
  display: none;
}

.gm-style button {
  display: none;
}

a img {
  width: 30px;
  height: 30px;
}

.MarkerIdee {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  box-sizing: content-box;
  top: 50%;
  left: 50%;
  width: 25px;
  height: 25px;
  background-color: var(--main-white);
  border: 3px solid var(--primary-blue);
  border-radius: 50%;
  user-select: none;
  transform: translate(-50%, -50%);
}

.MarkerIdee::before {
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: var(--main-green);
}

.StatusMarker {
  border-radius: 50%;
  position: absolute;
  width: 15px;
  height: 15px;
  border: 3px solid var(--primary-blue);
  top: -5px;
  right: -5px;
}

.GeoMarker {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 22px;
  height: 22px;
  background-color: var(--secondary-blue);
  border: 2px solid var(--main-white);
  border-radius: 100%;
  user-select: none;
  transform: translate(-50%, -50%);
  animation-name: MarkerPulse;
  animation-iteration-count: infinite;
  animation-duration: 2s;
}

@keyframes MarkerPulse {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.7;
  }
  100% {
    opacity: 1;
  }
}

.InfoOverlay {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translate(-50%);
  width: 90vw;
  padding: 12px;
  height: auto;
  background-color: var(--main-white);
  border-radius: 20px;
  align-self: flex-end;
  z-index: 4;
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.closeOverlay {
  position: absolute;
  background-color: var(--main-white);
  border-radius: 50%;
  height: 30px;
  width: 30px;
  right: 0px;
  top: -40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ImageWrapper {
  flex: 1;
  overflow: hidden;
  height: 100px;
  width: 40px;
  border-radius: 10px;
  position: relative;
}

.ImageWrapper img {
  position: absolute;
  right: 50%;
  transform: translate(50%);
  height: 100%;
}

.InfoOverlayButton {
  background-color: var(--primary-blue);
  padding: 10px 20px;
  border-radius: 10px;
  color: var(--main-white);
  text-decoration: none;
  font-size: 0.8rem;
  align-self: flex-start;
}

.ContentArea {
  height: 100px;
  flex: 2;
  display: flex;
  flex-direction: column;
}

.ContentArea h4 {
  font-size: 0.8rem;
  margin-bottom: 10px;
  font-weight: 600;
}

.ContentArea p {
  font-size: 0.8rem;
}

.BadgeAndDesc {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}

.Badge {
  width: 8px;
  height: 8px;
  border-radius: 50%;
}

.BadgeGreen {
  background-color: var(--main-green);
}

.BadgeYellow {
  background-color: var(--main-yellow);
}

.BadgeRed {
  background-color: var(--main-red);
}

.OverMap {
  display: flex;
  flex-direction: column;
  gap: 10px;
  top: 10px;
  right: 10px;
  position: absolute;
  z-index: 2000000;
}

.DashboardButton {
  background-color: #113042;
  color: #fff;
  padding: 10px 20px;
  border-radius: 4px;
  text-decoration: none;
  font-size: 0.9rem;
  font-weight: 600;
}

.OverButton {
  all: unset;
  width: 60px;
  height: 60px;
  background-color: var(--main-white);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.rotate-reload {
  animation: rotate-reloadicon 2s;
}

@keyframes rotate-reloadicon {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.DetailsImage {
  width: auto;
  width: 100%;
  position: absolute;
  right: 50%;
  transform: translate(50%);
}

.DetailsImageWrapper {
  height: 30vh;
  overflow: hidden;
  position: relative;
}

.DetailsGreenDiv {
  background-color: var(--main-green);
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

.DetailsYellowDiv {
  background-color: var(--main-yellow);
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

.DetailsRedDiv {
  background-color: var(--main-red);
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

.DetailsStatusWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  margin-bottom: 30px;
}

.Details-Headline {
  margin-bottom: 10px;
  color: var(--primary-blue);
}

.Details-Paragraph-small {
  font-size: 0.8rem;
  margin-bottom: 30px;
  font-weight: 200;
}

.Details-Paragraph {
  font-weight: 200;
  line-height: 1.5rem;
}

.SmallHeadlineDetails {
  margin-bottom: 10px;
}

/* Favorite Page Styling */

.Favorite-Page {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.FavoriteWrapper {
  width: 100%;
  height: auto;
  background-color: #fff;
  padding: 12px;
  background-color: var(--main-white);
  border-radius: 20px;
  z-index: 4;
  display: flex;
  flex-direction: row;
  gap: 10px;
  box-shadow: 0px 0px 5px #dedede;
}

/* Profile */

.Profile-Circle {
  width: 130px;
  height: 130px;
  background-color: #113042;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  margin-bottom: 20px;
}

.Profile-Circle img {
  width: 40%;
}

.h3-Profile {
  color: #113042;
}

.dp-flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.TopProfile {
  width: 100%;
  padding: 20px 10px;
}

.margin-20 {
  margin-bottom: 10px;
}

.Form-100-w {
  width: 100%;
  margin: 10px 0px !important;
}

.margin-top-button {
  margin-top: 10px !important;
  margin-bottom: 20px !important;
  width: 100%;
  background-color: #113042 !important;
}

.strong-p {
  font-weight: 500;
  color: #113042;
  padding: 20px 0px 10px 0px;
}

input[type="file"] {
  all: unset;
  background-color: none !important;
  border-radius: 0px !important;
}

.custom-file-upload {
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.2);
  color: rgba(0, 0, 0, 0.6);
  display: inline-block;
  padding: 16.5px 14px;
  cursor: pointer;
  border-radius: 4px;
}

.success-badge {
  width: 80%;
  background-color: red;
  position: fixed;
  border-radius: 4px;
  padding: 10px;
  z-index: 300;
}

.AllButtons {
  background-color: #113042 !important;
  margin-bottom: 10px !important;
  box-shadow: none !important;
}

.AllButtonsOutline {
  border-color: #113042 !important;
  color: #113042 !important;
  margin-bottom: 10px !important;
}

.Mui-focused {
  border-color: #113042 !important;
}

.MuiFormLabel-colorPrimary {
  color: #113042 !important;
}

.css-1n4twyu-MuiInputBase-input-MuiOutlinedInput-input {
  border-color: #113042 !important;
}
